html {
    font-family: Lato;
}
/*.link {
  stroke: blue;
  stroke-width: 2;
}

.node text {
  pointer-events: none;
  font: 5px sans-serif;
}

.node:not(:hover) .nodetext {
  display: none;
}*/



.node {
  cursor: pointer;
  stroke: #3182bd;
  stroke-width: 1.5px;
}

.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}
